$mainBackgroundColor: #ffffff;
$secondaryBackgroundColor: #000000;
$mainColor: #020224;
$fontColor: #ffffff;
$thirdFontColor: #716c6c;
$bodyFontColor: #a9a8a8;
$secondaryFontColor: #020224;
$activeButtonColor: #2f39fd;
$lightButtonColor: #006afd;
$disabledColor: #a5a5a5;
$logoColor: #006afd;
$CTAButton: #006afd;
$badgeColor: rgba(0, 106, 253, 0.8);
$shadowColor: rgb(67 32 0 / 6%);
$errorColor: rgb(218, 15, 15);
$gradient: linear-gradient(
  280deg,
  rgba(0, 106, 253, 1) 17%,
  rgba(47, 57, 253, 1) 100%
);
$gradientButton: linear-gradient(
  280deg,
  rgba(0, 106, 253, 1) 80%,
  rgba(47, 57, 253, 1) 100%
);
$adminColor: rgb(253, 0, 0);
$dispatcherColor: rgb(13, 149, 13);
$activeColor: rgba(13, 149, 13, 0.7);
$disabledColor: rgb(169, 168, 168, 1);
$buttonsBackground: rgb(238, 240, 246);
