.content {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.input {
  padding-top: 38px;
}

.buttonWrapper {
  padding-top: 44px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.button {
  width: 120px;
}
