@import 'src/styles/colors.scss';

.menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 84px;
  margin-left: 10%;
  z-index: 250;
  border-radius: 48px;
  transition: 0.5s;
  z-index: 100;
}

.active {
  color: $logoColor !important;
}

.isBackground {
  background: $mainBackgroundColor;
  box-shadow: 1px 1px 25px -15px $secondaryBackgroundColor;
  margin-top: 10px;
}

.logo {
  padding-left: 48px;
  width: 100%;
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 48px;
  width: 100%;
  height: 100%;
  gap: 32px;
  user-select: none;
}

.centerNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 48px;
  width: 100%;
  height: 100%;
  gap: 32px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  color: $secondaryFontColor;
  font-size: 18px;
  font-family: RobotoRegular;

  user-select: none;
}

.active {
  color: $mainColor;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
}

.hamburgerMenuClose {
  position: absolute;
  left: calc(100% - 32px);
  top: 24px;
  transform: translateX(-100%);
  cursor: pointer;
  font-size: 24px;
}

.deviceMenu {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #f0f0f0;
  z-index: 200;
  display: none;
}

@media (max-width: 1000px) {
  .centerNavigation {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }

  .deviceOptions {
    margin-top: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
  }

  .deviceMenu {
    display: block;
  }

  .deviceOption {
    background: $fontColor;
    height: 48px;
    width: 80%;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
    color: $secondaryFontColor;
    font-size: 18px;
    font-family: RobotoRegular;

    box-shadow: $shadowColor 0px 8px 32px;
  }
}
