@import 'src/styles/colors.scss';

.container {
  display: flex;
  gap: 5px;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: solid 1px$bodyFontColor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  color: $fontColor;
  font-size: 12px;
}

.checked {
  background: $lightButtonColor;
}
