@import 'src/styles/colors.scss';

.wrapper {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  z-index: 100;
  top: 32px;
  left: calc(100% - 32px);
  width: 148px;
  min-height: 32px;
  background: $mainBackgroundColor;
  border-radius: 8px;
  overflow: hidden;
  user-select: none;
  box-shadow: $shadowColor 0px 8px 32px;
}

.option {
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 48px;
  font-size: 16px;
  font-family: RobotoRegular;
  overflow: hidden;
  &:hover {
    background: rgba(200, 200, 200, 0.3);
  }
}
