<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .logo-container {
        margin-top: 24px;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
        width: 100%;
      }

      .logo {
        font-size: 48px;
      }
      .color {
        color: #006afd;
      }

      .badge {
        display: inline-block;
        background: #006afd;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 10px;
        border-radius: 3px;
      }

      span {
        color: #006afd;
      }
    </style>
  </head>
  <body>
    <div class="logo-container">
      <div class="logo">
        <span class="color">VA</span>Manager
        <div class="badge">BETA</div>
      </div>
    </div>
  </body>
</html>
