<!DOCTYPE html>
<head>

</head>
<body>
  <table style="margin: auto;">
    <thead>
      <tr>
        <th><%- include('logo'); %></th>
      </tr>
    </thead>
    </table>

  <table style="width: 100%; background: white; padding-bottom: 24px; padding-top: 10px; border-radius: 8px; margin: auto;">
      <thead>
          <tr>
              <th style="font-size: 24px;" colspan="2"> Verify your account</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td style="padding-top: 24px; text-align: center;">Thanks for signing up!<br />Use the code below to verify the email address associated with your account</td>
          </tr>
          <tr>
              <td style="padding-top: 24px; font-size: 24px; text-align: center;">Verification Code</td>
          </tr>
          <tr>
              <td style="color: #006afd; font-size: 24px; font-weight: bold; text-align: center;"><%= code %></td>
          </tr>
          <tr>
              <td style="padding-top: 84px; text-align: center; padding-left: 84px; padding-right: 84px;">If you didn't create an account, you can ignore this email.
                Need help? <br/>Send us a note at support@vamanager.pl</td>
          </tr>
      </tbody>
  </table>
</body>
</html>