@import 'src/styles/colors.scss';

.container {
  margin-top: 84px;
  width: 100%;
}

.cardsWrapper {
  display: flex;
  padding-top: 48px;
  gap: 48px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loading {
  left: 0;
  top: 0;
}

.createButton {
  color: $CTAButton;
  cursor: pointer;
}
