.emptyState {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 128px;
}

.icon {
  font-size: 64px;
}

.text {
  font-size: 32px;
}

.buttonWrapper {
  margin-top: 12px;
  div {
    width: 184px;
  }
}
