@import 'src/styles/colors.scss';

.wrapper {
  width: 100%;
  height: 60vh;
  background: $fontColor;
  box-shadow: $shadowColor 0px 8px 32px;
  overflow: auto;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
