@import '../../styles/colors.scss';

.wrapper {
  display: flex;
  align-items: center;
  background: $fontColor;
  justify-content: space-between;
  height: 48px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: $shadowColor 0px 8px 32px;
}

.button {
  width: 84px;
}
