@import 'src/styles/colors.scss';

$marginAnimation: 64px;
$marginAnimationEnd: 84px;

.content {
  margin: auto;
  margin-top: 100px;
  width: 90%;
}

.header {
  width: 100%;
}

.container {
  width: 85%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: $marginAnimation;
  gap: 184px;
  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
    margin-top: $marginAnimation;
  }
  to {
    opacity: 1;
    margin-top: $marginAnimationEnd;
  }
}
